/* ==========================================================================
   NAVIGATION
   ========================================================================== */

/*
     Table of contents navigation
     ========================================================================== */

.toc {
    font-family: $sans-serif-narrow;
    color: $gray;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;

    .nav__title {
        color: #fff;
        font-size: $type-size-6;
        background: #000000;
        border-start-start-radius: $border-radius;
        border-start-end-radius: $border-radius;
    }
    // Scrollspy marks toc items as .active when they are in focus
    .active a {
        @include yiq-contrasted($active-color);
    }
}

.toc__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    font-size: $type-size-6;

    @include breakpoint($large) {
        font-size: $type-size-7;
    }

    a {
        display: block;
        padding: 0.25rem 0.75rem;
        color: $muted-text-color;
        font-weight: bold;
        line-height: 1.5;
        border-bottom: 1px solid $border-color;

        &:hover {
            color: #8b0000;
        }
    }

    li ul > li a {
        padding-inline-start: 1.25rem;
        font-weight: normal;
    }

    li ul li ul > li a {
        padding-inline-start: 1.75rem;
    }

    li ul li ul li ul > li a {
        padding-inline-start: 2.25rem;
    }

    li ul li ul li ul li ul > li a {
        padding-inline-start: 2.75rem;
    }

    li ul li ul li ul li ul li ul > li a {
        padding-inline-start: 3.25rem;
    }
}
