/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar__left {
    @include clearfix();

    @include breakpoint($large) {
        float: inline-start;
        width: calc(#{$right-sidebar-width-narrow} - 1em);
        //opacity: 0.75;
        //-webkit-transition: opacity 0.2s ease-in-out;
        //transition: opacity 0.2s ease-in-out;

        //&:hover {
        //    opacity: 1;
        //}

        &.sticky {
            .toc {
                .toc__menu {
                    overflow-y: auto;
                    max-height: calc(100vh - 7em);
                }
            }
        }
    }

    @include breakpoint($x-large) {
        width: calc(#{$right-sidebar-width} - 1em);
    }

    > * {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

//.splash .sidebar__right {
//    @include breakpoint($large) {
//        position: relative;
//        float: inline-end;
//        margin-inline-end: 0;
//    }

//    @include breakpoint($x-large) {
//        margin-inline-end: 0;
//    }
//}