{% if page.comments != false %}
<div class="giscus-container">
  <script src="https://giscus.app/client.js"
        data-repo="xulsh8/xulsh8.github.io"
        data-repo-id="R_kgDOQQQHkA"
        data-category="General"
        data-category-id="DIC_kwDOQQQHkM4DAriY"
        data-mapping="specific"
        data-term="{{ page.path | split: '/' | last | replace: '.md', '' }}"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="{{ site.url }}/css/comment.css"
        data-lang="{% assign current_lang = page.lang | default: site.lang %}{% if current_lang == 'en-US' or current_lang == 'en' %}en{% else %}zh-CN{% endif %}"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</div>
{% endif %}
